* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url("fonts/GillSans.ttf");
}
@font-face {
  font-family: Proxima;
  src: url("fonts/ProximaNovaScOsfExtraCondensed.ttf");
}
nav {
  max-width: 980px;
  min-height: 60px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  width: 100px;
  height: 50px;
  background-image: url(../images/logo-black.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  font-weight: 900;
  font-size: 20px;
  align-self: center;
  font-family: gill-sans-nova, sans-serif;
}
nav .links {
  width: 542px;
  height: 42;
  align-self: center;
  display: flex;
}
nav a {
  text-decoration: none;
  color: #000;
  margin: auto;
  font-family: "GillSans";
  font-weight: 700;
}
nav .pipe {
  background-color: #79ADDC;
  width: 1px;
  height: 30px;
}

.black-line {
  background-color: black;
  width: 980px;
  height: 1px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .black-line {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.tour header {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tours-header.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour header span {
  text-transform: uppercase;
  color: #fff;
  font-family: Proxima;
  font-size: 60px;
}
.tour .tours {
  max-width: 818px;
  margin: 48px auto 0 auto;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tour .tourPromo {
  width: 236px;
  height: 304px;
  background-color: burlywood;
  margin-bottom: 55px;
}
.tour .tourPromo h1 {
  text-align: center;
  color: #fff;
  font-family: Proxima;
  font-size: 60px;
  font-style: normal;
  padding-top: 20px;
}
.tour .tourPromo p {
  text-align: center;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  color: #fff;
  font-weight: bold;
}
.tour .tourPromo .read-more {
  height: 40px;
  width: 120px;
  background-color: #79ADDC;
  margin: 60px auto;
  border-radius: 20px;
}
.tour .tourPromo .read-more p {
  color: #fff;
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-style: normal;
  font-size: 15px;
  align-self: center;
  padding-top: 11px;
}
.tour .tourPromo .read-more a {
  text-decoration: none;
}
.tour .tourPromo .israel {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .usa {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .australia {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .newzeland {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .france {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .egypt {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-06.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .japan {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-07.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .canada {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-08.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tour .tourPromo .uae {
  height: 304px;
  width: 236px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tour-09.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media all and (max-width: 1200px) {
  .tour .tours {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  max-width: 1280px;
  min-height: 100px;
  margin: 0 auto;
  background-color: #79ADDC;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  align-self: center;
  font-family: gill-sans-nova, sans-serif;
}
footer .logo {
  width: 130px;
  height: 30px;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  margin-left: 100px;
}
footer p {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  align-self: center;
  font-family: gill-sans-nova, sans-serif;
  margin-top: -55px;
}
footer .socialMedia {
  float: right;
  padding-right: 30px;
  margin-top: -35px;
}
footer .socialMedia .fa {
  font-size: 12px;
  width: 22.9px;
  height: 22.9px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}
footer .socialMedia .fa-facebook {
  background: #fff;
  color: #79ADDC;
  border-radius: 5px;
}
footer .socialMedia .fa-twitter {
  background: #fff;
  color: #79ADDC;
  border-radius: 5px;
}
footer .socialMedia .fa-instagram {
  background: #fff;
  color: #79ADDC;
  border-radius: 5px;
}

@media only screen and (max-width: 1060px) {
  footer {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0 auto;
    display: flex;
  }
  footer p {
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    margin-top: 10px;
  }
  footer .logo {
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    margin-right: 50px;
  }
  footer .socialMedia {
    float: right;
    margin-left: 180px;
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
  }
}
.tour-section .israel-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-01.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .israel-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .israel-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .usa-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-02.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .usa-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .usa-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .australia-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-03.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .australia-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .australia-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .newzealand-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-04.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .newzealand-tour .tour-package {
  width: 900px;
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .newzealand-tour .starting-from {
  width: 900px;
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .france-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-05.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .france-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .france-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .egypt-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-06.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .egypt-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .egypt-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .japan-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-07.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .japan-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .japan-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .canada-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-08.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .canada-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .canada-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .uae-tour {
  max-width: 981px;
  margin: 20px auto 0 auto;
  height: 413px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-09.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tour-section .uae-tour .tour-package {
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: Proxima;
  font-style: normal;
}
.tour-section .uae-tour .starting-from {
  color: #fff;
  font-size: 30px;
  font-family: Proxima;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media all and (max-width: 1200px) {
  .tour-section .israel-tour {
    align-items: center;
  }
}
.tour-section .tour-main-img {
  height: 410px;
  position: relative;
}
.tour-section .tour-main-img .tour-package {
  color: white;
  font-family: Proxima;
  font-size: 80px;
  padding-left: 30px;
  padding-top: 30px;
}
.tour-section .tour-main-img .starting-from {
  color: white;
  font-family: Proxima;
  font-size: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.tour-section .promo-images {
  max-width: 981px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.tour-section .promo-images .tour-imges {
  min-width: 298px;
  height: 345px;
}
.tour-section .promo-images .isr1 {
  background-image: url(../images/israel-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .isr2 {
  background-image: url(../images/israel-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .isr3 {
  background-image: url(../images/israel-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .usa1 {
  background-image: url(../images/usa-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .usa2 {
  background-image: url(../images/usa-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .usa3 {
  background-image: url(../images/usa-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .aus1 {
  background-image: url(../images/aus-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .aus2 {
  background-image: url(../images/aus-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .aus3 {
  background-image: url(../images/aus-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .nz1 {
  background-image: url(../images/nz-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .nz2 {
  background-image: url(../images/nz-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .nz3 {
  background-image: url(../images/nz-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .fra1 {
  background-image: url(../images/france-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .fra2 {
  background-image: url(../images/france-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .fra3 {
  background-image: url(../images/france-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .egy1 {
  background-image: url(../images/egypt-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .egy2 {
  background-image: url(../images/egypt-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .egy3 {
  background-image: url(../images/egypt-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .jap1 {
  background-image: url(../images/japan-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .jap2 {
  background-image: url(../images/japan-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .jap3 {
  background-image: url(../images/japan-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .can1 {
  background-image: url(../images/canada-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .can2 {
  background-image: url(../images/canada-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .can3 {
  background-image: url(../images/canada-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .uae1 {
  background-image: url(../images/uae-tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .uae2 {
  background-image: url(../images/uae-tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .promo-images .uae3 {
  background-image: url(../images/uae-tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour-section .tour-days {
  max-width: 981px;
  margin: 30px auto 0 auto;
  padding-bottom: 80px;
}
.tour-section .tour-days h2 {
  font-family: Proxima;
  font-size: 60px;
  color: black;
  -webkit-text-decoration: underline solid black 3px;
          text-decoration: underline solid black 3px;
}
.tour-section .tour-days p {
  font-family: Gil;
  font-size: 16px;
}
.tour-section .book-btn {
  max-width: 981px;
  margin: 30px auto 0 auto;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #79addc;
  max-width: 135px;
  margin-bottom: 100px;
}
.tour-section .book-btn a {
  text-decoration: none;
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 200;
}

@media all and (max-width: 1200px) {
  .tour-section .promo-images {
    flex-direction: column;
    align-items: center;
  }
  .tour-section .promo-images .pr-img {
    margin-top: 20px;
  }
}