.tour {
    header{
    @include center(981px, 20px auto 0 auto);
    height: 200px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tours-header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    span{
        text-transform: uppercase;
        color: #fff;
        font-family: Proxima;
        font-size: 60px;
    }
}
    .tours {
        @include center (818px, 48px auto 0 auto);
        min-height: 200px;
        //background-color: aqua;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .tourPromo {
        width: 236px;
        height: 304px;
        background-color: burlywood;
        //margin-right: 10px;
        margin-bottom: 55px;
        h1 {
            text-align: center;
            color: #fff;
            font-family: Proxima;
            font-size: 60px;
            font-style: normal;
            padding-top: 20px;
        }

        p {
            text-align: center;
            font-size: 30px;
            font-family: Proxima;
            font-style: normal;
            color: #fff;
            font-weight: bold;
        }
        .read-more {
            //@include siteButton(10px 30px, 15px) ;
            height: 40px;
            width: 120px;
            background-color: #79ADDC;
            margin: 60px auto;
            border-radius: 20px;

            p {
                color: #fff;
                text-align: center;
                font-family: gill-sans-nova, sans-serif;
                font-style: normal;
                font-size: 15px;
                align-self: center;
                padding-top: 11px;
                
            }
            a{
                text-decoration: none;
            }
        }
        //tour images 
        .israel {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .usa {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .australia {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .newzeland {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-04.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .france {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-05.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .egypt {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-06.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .japan {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-07.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .canada {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-08.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        .uae {
            height: 304px;
            width: 236px;
            background-image: linear-gradient(to right, $overlay-black, $overlay-black),
            url(../images/tour-09.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            background-size: cover;
            
        } 
        
    
    }

}

@media all and (max-width: 1200px) {
    .tour {
        .tours {
            flex-direction: column;
            align-items: center;
        }
    }
}